<div class="col-md-6 offset-md-3">
    <h3>Create Employee</h3>
    <form #employeeForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" class="form-control" id="Name" [(ngModel)]="employee.name" name="Name" required>
        </div>
        <div class="form-group">
            <label for="mailid">Mail ID</label>
            <input type="text" class="form-control" id="mailid" [(ngModel)]="employee.mail_id" name="mailid" required>
        </div>
        <div class="form-group">
            <label for="role">Role</label>
            <input type="text" class="form-control" id="role" [(ngModel)]="employee.role" name="role" required>
    
        </div>
        <div class="error">{{msg1}}</div>
        <div class="form-group">
            <label for="category">Category</label>
            <input type="text" class="form-control" id="category" [(ngModel)]="employee.category" name="category" required>
        </div>
        <div class="error">{{msg2}}</div>
        <div class="form-group">
            <label for="gender">Gender</label>
            <input type="text" class="form-control" id="gender" [(ngModel)]="employee.gender" name="gender" required>
        </div>
        <button class="btn btn-success" type="submit">Submit</button>

    </form>
  </div>
  