<div class="container col-12 row">
  <div class="container col-6 order-2 mt-4 col-10 col-sm-6 shadow pb-3 mt-5 con">
    <h3 class="fw-bold text-center pt-2" style="color: crimson">Register</h3>
    <hr />
    <form [formGroup]="registerForm" class="p-3" style="backdrop-filter: blur(3px); border-radius: 20px">
      <div class="mb-3">
        <label for="employeeId" class="form-label fw-bold">Employee Id</label>
        <input type="number" class="form-control" id="employeeId" formControlName="employee_id" required />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password" required />
      </div>
      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" required />
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-outline-info mt-3 fw-bold text-danger lead" (click)="register()">
          Register
        </button>
      </div>
      <div class="text-center">
        <span class="linkStyle fw-bold pe-1">Already have an account?</span><a routerLink="/login">Sign in</a>
      </div>
    </form>
  </div>
  <div class="col-6 order-1 mt-4">
    <img src="https://teacherathon.org/images/registration-form-section-image.png" alt="Register-image" border="0" />
  </div>
</div>
