<div class="container col-12 row">
  <div class="container col-6 order-2 pb-3">
    <h3 class="fw-bold text-center pt-2">Mark Attendance</h3>
    <hr />
    <form [formGroup]="AttendanceForm" class="p-3" style="backdrop-filter: blur(3px); border-radius: 20px">
      <div class="mb-3">
        <label for="employeeId" class="form-label">Employee Id</label>
        <input type="number" class="form-control" id="employeeId" formControlName="employee_id" />
      </div>
      <div class="mb-3">
        <label for="date" class="form-label">Date</label>
        <input type="date" class="form-control" id="date" formControlName="date" />
      </div>
      <div class="mb-3">
        <label for="check_in" class="form-label">Check-In</label>
        <input type="text" class="form-control" id="check_in" formControlName="check_in" />
      </div>
      <div class="mb-3">
        <label for="check_out" class="form-label">Check_out</label>
        <input type="text" class="form-control" id="check_out" formControlName="check_out" />
      </div>
      <div class="mb-3">
        <label for="status" class="form-label">Attendance Status</label>
        <input type="text" class="form-control" id="status" formControlName="status" />
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-outline-warning mt-3 fw-bold text-danger lead" (click)="markAttendance()">
          Mark Attendance
        </button>
      </div>
    </form>
  </div>

  <div class="col-6 order-1">
    <img src="https://img.freepik.com/free-vector/confirmed-attendance-concept-illustration_114360-7745.jpg?size=626&ext=jpg&ga=GA1.1.1849039225.1702430496&semt=sph" alt="Attendance-image" />
  </div>
</div>