<div class="container">
  <div class="con">
    <p class="message">Logged Out Successfully</p>
    <p>Thank you for using our website.</p>
    <p>Feel free to return anytime!</p>
    <p>If you have any questions, please contact our support team.</p>
    <a href="/login" class="login-link">Login</a>
  </div>
  <div class="image-container">
    <img
      src="https://th.bing.com/th?q=Employee+Sign+in+Out+Icon&dc=2&w=100&h=100&c=1&rs=1&qlt=90&cb=1&dpr=1.5&pid=InlineBlock&mkt=en-IN&cc=IN&setlang=en&adlt=moderate&t=1&mw=247"
      alt="Signout-image"
      class="logo-image"
    />
  </div>
</div>
