<div class="container">
  <div class="row text-center align-items-center">
    <div class="col-12 col-md-6">
      <h1 class="fw-bold">Employee Payroll Management</h1>
      <p class="lead">
        "When employees see each other as teammates and encourage each other to do a better job, everyone in the company shares in the rewards."
      </p>
      <button type="button" class="btn btn-success" routerLink="Register">
        Click Here
      </button>
    </div>
    <div class="col-6 d-none d-md-block p-2" style="border-radius: 30px">
      <img
        src="https://media.istockphoto.com/id/1074277678/photo/payroll-concept.jpg?s=612x612&w=0&k=20&c=_EyoVXrRMdqpKodr1EoKadbOu-YN9i2OLPYrwLFKTaU="
        alt="payroll image"
        width="90%"
      />
    </div>
  </div>
</div>
